@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 15% 11%;
    --foreground: 0 0% 98%;
    --card: 158 15% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 158 15% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 160 50% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 158 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 158 15% 20%;
    --muted-foreground: 160 5% 70%;
    --accent: 196 69% 59%;
    --accent-foreground: 158 15% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 15% 20%;
    --input: 158 15% 20%;
    --ring: 160 50% 40%;
    --radius: 0.75rem;
    --chart-1: 160 50% 40%;
    --chart-2: 196 69% 59%;
    --chart-3: 160 30% 60%;
    --chart-4: 196 40% 70%;
    --chart-5: 0 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-panel {
  @apply bg-card/50 backdrop-blur-md border border-white/5;
}